# postgres variables
POSTGRES_PASSWORD=your_strong_password
POSTGRES_USER="postgres"
POSTGRES_DB="rooms_students"
POSTGRES_HOST="localhost"
POSTGRES_PORT=5432

# доступные форматы (JSON/XML), вписывать новый формат через пробел
OUTPUT_FORMATS_AVAILABLE='json xml'

# выбор папки выгрузки
# OUTPUT_PATH=""

#postgres test variables
TEST_POSTGRES_PASSWORD="test"
TEST_POSTGRES_USER="test"
TEST_POSTGRES_DB="test"
TEST_POSTGRES_HOST="localhost"
TEST_POSTGRES_PORT=5433